<html>
   <body>
      <form action = "" method = "POST" 
         enctype = "multipart/form-data">
	  <p><input type = "file" name = "file1" /></p>
	  <p><input type = "file" name = "file2" /></p>
	 <input type="radio" name="type" value="series" checked> Series<br>
	 <input type="radio" name="type" value="audio"> Audio<br>
         <p>Select Plot Type</p>
	 <input type="radio" name="plot_t" value="interactive" checked> Interactive<br>
	 <input type="radio" name="plot_t" value="static"> Static<br>
         <input type = "submit"/>
      </form>
   </body>
</html>
